@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

.text-large {
  font-size: 24px;
}
.text-medium {
  font-size: 16px;
}
.text-small {
  font-size: 14px;
}
@media screen and (max-width: 400px) {
  .text-large {
    font-size: 20px;
  }
  .text-medium {
    font-size: 14px;
  }
  .text-small {
    font-size: 12px;
  }
}
.bold {
  font-weight: 800;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111111;
}

.preview-card {
  max-width: 384px;
  margin: 24px;
  background-color: white;
  border: 1px solid #111111;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 8px 8px;
  margin-bottom: 20px;
  font-family: "Figtree";
}

.cover {
  display: block;
  border-radius: 10px;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}

.content-box {
  margin: 24px 0;
}

.content-box > * {
  margin-bottom: 12px;
}

.category-tag {
  width: fit-content;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #f4d04e;
}

h1:active {
  color: #f4d04e;
}

.description {
  margin-bottom: 0;
  color: #7f7f7f;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  height: 32px;
  width: 32px;
}
